#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-row {
  display: flex;
  justify-content: center;
}

.qr-option {
  display: flex;
  flex-direction: column;
  /* margin: 16px; */
}

select {
  padding: 5px;
  margin: 2px;
}

button {
  margin: 16px;
}